/*  your css code here. If applicable */
#table-1{
	 border:1px solid rgb(0, 0, 0);
}
.middle{
	border:1px solid rgb(0, 0, 0);
	td,tr{
		border:1px solid rgb(0, 0, 0);
	}
}
h1{
	text-align:center;
}
.middle{
	width:100%;
	border:1px solid rgb(0, 0, 0);
}
.left{
	text-align:left;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.two tr{
	height:30px;
}
.thirdimg{
	width:320px;
}
img{
	text-align:center;
	padding:10px;
	
}